# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Factura-Compras/nbproject/private/
/nbproject/private/
/build/
/FX/nbproject/private/
/FX/build/
/FX/dist/
/PruebaFMXL/nbproject/private/
/PruebaFMXL/build/
/PruebaFMXL/dist/
/Factura-ComprasFX/nbproject/private/
/PruebaFX/nbproject/private/
/PruebaFX/build/
/PruebaFX/dist/